img {
    height: 420px;
    width: 380px;
    display: inline-block;
    cursor: pointer;
}

button {
    cursor: pointer;
    justify-content: flex-start;
    padding: 20px;
    background: red;
    margin: 20px;
    border-radius: 5px; 
    font-weight: bold;
}
